@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root,
[data-theme] {
  background: hsl(var(--b2));
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}

.list__container {
  container-type: inline-size;
}

@container (max-width: 670px) {
  .list__container--last_row-data {
    max-width: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@container (max-width: 760px) {
  .list__container--first_row-data {
    width: 47px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
  }
}

@container (max-width: 610px) {
  .address__container-image {
    display: none;
  }
}
